{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Customer</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
      
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
      
        <link rel="stylesheet" href="css/mdb.min.css" />
    </head>
    <body>
        {% block content %}
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Customer:</h5>
                    <hr>
                    <a class="btn btn-outline-info btn-sm btn-block" href="">Update Customer</a>
                    <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete Customer</a>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-body">
                    <h5>Contact Information</h5>
                    <hr>
                    <p>Email: {{customers.email}}</p>
                    <p>Phone: {{customers.phone}}</p>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-body">
                    <h5>Total Orders</h5>
                    <hr>
                    <h1 style="text-align: center; padding: 10px">{{order_count}}</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
                        {{myFilter.form}}
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_order' customers.id %}">Create Order</a>
                    <table class="table table-sm">
                        <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                        </tr>
                        {% for order in orders %}
                            <tr>
                                <td>{{order.product}}</td>
                                <td>{{order.product.category}}</td>
                                <td>{{order.date_created}}</td>
                                <td>{{order.status}}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        
        {% endblock %}
    </body>
</html>