{% extends 'main.html' %}
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        {% block content %}
        {% include 'status.html' %}
        <br>
        <div class="row">
            <div class="col-md-5">
                <h5>CUSTOMERS:</h5>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-success btn-sm btn-block"  href="">Create Customer</a>
                    <table class="table table-sm">
                        <tr>    
                            <th>Customer</th>
                            <th>Phone</th>
                        </tr>
                        {% for customer in customers %}
                            <tr>
                                <td><a href="{% url 'customer' customer.id %}">{{customer.name}}</a></td>
                                <td>{{customer.phone}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <h5>LAST 5 ORDERS</h5>
                <hr>
                <div class="card card-body">
                    <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update </th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{order.product}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                            <td><a href="">Update</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>