{% extends 'main.html'%}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-5">
        <div class="card card-body">

         <form action="" method="POST">
            {% csrf_token %}
            {{form}}

            <input type="submit" name="Submit">

         </form>

     </div>
 </div>
</div>
{% endblock %}
