{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Status</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <!-- Google Fonts Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
        <!-- MDB -->
        
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>
    <body>
        <br>
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="total-orders">
                        <div class="card-header">
                            <h5 class="card-title">Total Orders</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"> {{total_orders}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="orders-delivered">
                        <div class="card-header">
                            <h5 class="card-title">Orders Delivered</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{delivered}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="orders-pending">
                        <div class="card-header">
                            <h5 class="card-title">Orders Pending</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{pending}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="orders-delivered">
                        <div class="card-header">
                            <h5 class="card-title">Out For Delivery</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{out_for_delivery}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>